.lg-about-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-bottom: 5.5rem;
}
.latest-tweet {
  position: relative;
  left: 0;
  top: 1rem;
  width: 42%;

  @include media(">=zero", "<phone") {
    width: 100%;
  }

  margin-bottom: 2.5rem;
  &-heading {
    background: #186a20;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0;
  }
}

.about-lg {
  position: relative;
  width: 52%;
  padding: 1.5rem;
  background: $color-pink;
  text-align: center;

  @include media(">=zero", "<phone") {
    width: 93%;
  }

  &-img-container {
    margin-bottom: 1.5rem;
  }
  &-text span {
    color: black;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    font-weight: 800;
  }
  &-text p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }
}
.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;

  &-btn {
    background-color: $read-load;
    font-size: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    & a {
      text-decoration: none;
      color: black;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
