.gallery {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  &-img-container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    @include media(">phone", "<=tablet-portrait") {
      width: 90%;
    }

    @include media(">=zero", "<phone") {
      width: 90%;
    }
  }
  &-text {
    position: relative;
    padding: 1rem 1.2rem;
    width: 85%;
    margin: 0 auto;
    box-shadow: 5px 8px 17px rgba($color: #000000, $alpha: 0.51);
    border-radius: 5px;
    @include media(">phone", "<=tablet-portrait") {
      width: 90%;
    }

    @include media(">=zero", "<phone") {
      width: 90%;
    }

    &-date {
      position: absolute;
      top: 0;
      left: 0;
      background: #dc3b08;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      border: 1px solid black;
    }
    &-para {
      margin-top: 2.2rem;
      font-size: 1.2rem;
      font-weight: 700;
      @include media(">phone", "<=tablet-portrait") {
        font-size: 1rem;
      }

      @include media(">=zero", "<phone") {
        font-size: 1rem;
      }
    }
  }
  &-arrow-left {
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(">phone", "<=tablet-portrait") {
      left: 2%;
    }

    @include media(">=zero", "<phone") {
      left: 3%;
    }

    & span {
      text-transform: uppercase;
      font-weight: 600;
      color: #827979;
      font-size: 1.5rem;
      @include media(">phone", "<=tablet-portrait") {
        font-size: 1rem;
      }

      @include media(">=zero", "<phone") {
        font-size: 1rem;
      }
    }
  }
  &-arrow-right {
    position: absolute;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(">phone", "<=tablet-portrait") {
      right: 2%;
    }

    @include media(">=zero", "<phone") {
      right: 3%;
    }

    & span {
      text-transform: uppercase;
      font-weight: 600;
      color: #4a4747;
      font-size: 1.5rem;
      @include media(">phone", "<=tablet-portrait") {
        font-size: 1rem;
      }

      @include media(">=zero", "<phone") {
        font-size: 1rem;
      }
    }
  }
  .arrow-card-img {
    width: 5.2rem;
    @include media(">phone", "<=tablet-portrait") {
      width: 3.2rem;
    }

    @include media(">=zero", "<phone") {
      width: 3rem;
    }
  }
}
