.gallery-page {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 98vw;
  margin: 3.5rem 0;
  padding: 1rem 1.2rem;
  &-img-top-container {
    width: 100%;
    text-align: center;
  }
  &-img-bottom-container {
    width: 100%;
    text-align: center;
  }
  &-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap;
    margin: 0 auto;
  }
}
