.new-updates {
  position: relative;
  width: 100%;
  padding-top: 2rem;
}
.heading-updates {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin-bottom: 2.5rem;
  &-text {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  &-search-overlay {
    position: relative;
    width: 35%;
  }
  &-search-input {
    font-size: 1.2rem;
    outline: none;
    padding: 1rem 1.2rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    letter-spacing: 2px;
    &::-webkit-input-placeholder {
      color: #8f8080;
      letter-spacing: 2px;
    }
  }
}

// search btn
.search-icon {
  position: absolute;
  top: 2%;
  right: 0%;
  height: 3.6rem;
  width: 3.6rem;
  outline: none;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
}
.body-updates {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;

  &-filter {
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 1.5rem;
  }
  &-text {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  &-month {
    margin-bottom: 1.2rem;
  }
  &-preferences {
    margin-bottom: 1.2rem;
  }

  &-tag {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19);

    &-hashtags {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between;
      width: 100%;
    }
    &-hashtag {
      color: black;
      margin-bottom: 1rem;
      width: 40%;
      padding: 0.5rem 0.8rem;
      border: 1px solid #cdb2b2;
      box-sizing: border-box;
      box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.25);
      border-radius: 23px;
      font-size: 1rem;
      list-style: none;
    }
  }
}
.update-result {
  width: 55%;

  // &-read-more:link,

  &-card {
    margin-bottom: 1rem;
    width: 90%;

    padding: 1rem 1.2rem;
    &-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: $read-load;
      color: white;
    }
    &-img {
      margin-bottom: 1rem;
    }
  }
  &-heading {
    color: red;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  &-text {
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}
