* {
  padding: 0;
  margin: 0; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

html {
  font-size: 62.5%; }

.container {
  position: absolute;
  height: 100%;
  width: 100%; }

.mini-header {
  position: relative;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  background-color: #dc3908bb; }
  .mini-header-overlay {
    justify-content: space-between;
    width: 80%; }

.govt-name-space {
  display: inline-block;
  width: 45%; }

.controls {
  width: 40%;
  justify-content: space-evenly; }

.language-control {
  width: 20%;
  justify-content: flex-end; }

.lang-text {
  margin-right: 1.2rem; }

.font-controls {
  justify-content: space-evenly; }

.font-change-utility {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  font-size: inherit;
  padding: 0.2rem;
  outline: none; }
  .font-change-utility:not(:last-child) {
    margin-right: 0.2rem; }

.mini-header-1 {
  position: relative;
  justify-content: space-between;
  padding: 1rem 1.2rem; }

header {
  position: relative;
  background-image: url("../assets/hero_image_banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem; }

.heading-box {
  display: flex;
  flex-direction: row; }

.heading-container {
  display: flex;
  flex-direction: column; }

footer {
  background-color: #2e2929;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1.2rem;
  line-height: 35.7px; }

a {
  text-decoration: none;
  color: white; }

a:visited {
  color: whitesmoke; }

li {
  list-style: none;
  color: white; }

.cdac {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.cdac-top-written {
  width: 40%;
  padding: 1.2rem; }

.footer-text {
  word-spacing: 0.2rem; }

.footer-quick-links {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-img {
  justify-content: space-between; }

.border-right {
  border-right: 1px solid white; }

.building-img-container {
  position: absolute;
  bottom: 0;
  right: 0; }

nav {
  position: relative;
  width: 100%;
  background-color: #31bad8;
  padding: 1.8rem 0; }

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 80%;
  margin: 0 auto; }

.card {
  background-color: #38c9e9;
  position: relative;
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 7px 18px rgba(0, 0, 0, 0.48);
  align-items: center;
  transition: transform 0.3s; }
  .card:hover {
    transform: translateY(-4px); }
  .card-icon {
    margin-bottom: 0.5rem; }
  .card-text {
    position: absolute;
    bottom: 3%;
    color: white; }

.icon-size {
  width: 3rem; }

.lg-about-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem; }

.latest-tweet {
  position: relative;
  left: 0;
  top: 1rem;
  width: 50%; }
  .latest-tweet-heading {
    background: #186a20;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0; }

.about-lg {
  width: 50%;
  padding: 1rem;
  background: #f3eaea; }
  .about-lg-text h3 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1.2rem; }
  .about-lg-text p {
    font-size: 1rem;
    margin-bottom: 1rem; }

.read-more {
  position: relative;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.read-more-btn {
  background: #dc3908bb;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  outline: none;
  border: none; }

.flex-calc-1 {
  display: flex;
  flex-direction: row;
  flex-flow: wrap; }

.new-updates {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem; }

.heading-primary {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.33); }
  .heading-primary-icon {
    width: 18%; }
  .heading-primary-text {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21); }

.heading-secondary-text {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21); }

.news-cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem; }

.news-card {
  width: 31%; }
  .news-card-date {
    display: inline;
    background: #fab904;
    color: white;
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem; }
  .news-card-img {
    width: 100%; }
  .news-card-headline {
    padding: 1rem 1.2rem;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: whitesmoke; }

.department {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .department-cards {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap; }
  .department-img-container {
    margin-bottom: 0.5rem; }
  .department-card {
    position: relative;
    padding: 1.5rem;
    box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.31);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 800;
    transition: transform 0.3s; }
    .department-card:hover {
      transform: translateY(-4px); }
  .department-arrow-left {
    position: absolute;
    top: 50%;
    left: 2%; }
  .department-arrow-right {
    position: absolute;
    top: 50%;
    right: 2%; }

.mulaqaat {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mulaqaat-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap; }
  .mulaqaat-card {
    margin-bottom: 1rem;
    width: 46%;
    padding: 1rem 1.2rem; }
    .mulaqaat-card-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: #fab904;
      color: white; }
    .mulaqaat-card-img {
      margin-bottom: 1rem; }
    .mulaqaat-card-heading {
      color: red;
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 1rem; }
    .mulaqaat-card-text {
      letter-spacing: 1px;
      margin-bottom: 1rem;
      font-weight: 700; }

.gallery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem; }
  .gallery-img-container {
    position: relative;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
  .gallery-text {
    position: relative;
    padding: 1rem 1.2rem;
    width: 90%;
    box-shadow: 5px 8px 17px rgba(0, 0, 0, 0.51); }
    .gallery-text-date {
      position: absolute;
      top: 0;
      left: 0; }
    .gallery-text-para {
      margin: 1rem;
      font-size: 0.8rem;
      font-weight: 700; }

.speeches-container {
  position: relative;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.speeches-video-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  margin-bottom: 1.5rem; }

.speeches-video-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46%;
  padding: 1rem 1.5rem;
  margin-bottom: 1.2rem;
  box-shadow: 5px 4px 24px 13px rgba(0, 0, 0, 0.3); }
  .speeches-video-card-date {
    padding: 1rem 1rem;
    position: absolute;
    top: 0;
    left: -1;
    background-color: #fab904; }
  .speeches-video-card-heading {
    display: inline-block;
    margin: 5rem 0;
    font-size: 2.5rem;
    font-weight: 700; }
  .speeches-video-card-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto; }
  .speeches-video-card-icon {
    position: absolute; }
  .speeches-video-card-para {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 192.4%;
    margin: 2rem 0; }

.top-speeches {
  position: relative;
  width: 100%;
  text-align: center;
  height: 25rem; }

.deer-img {
  position: absolute;
  right: 0%;
  top: 0;
  display: flex;
  flex-direction: column; }

.news-card-img-1 {
  width: 80%; }

.gallery {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 98vw;
  height: 96vh;
  padding: 1rem 1.2rem; }
  .gallery-img-top-container {
    width: 100%;
    text-align: center; }
  .gallery-img-bottom-container {
    width: 100%;
    text-align: center; }
  .gallery-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap;
    margin: 0 auto; }
