/* RESPONSIVE-LIB. */
/**
*
* Testing
*
**/
/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 88.5%; }
  @media (min-width: 1921px) and (max-width: 4000px) {
    html {
      font-size: 104.64%; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    html {
      font-size: 77.35%; } }
  @media (min-width: 601px) and (max-width: 900px) {
    html {
      font-size: 65.5%; } }
  @media (min-width: 100px) and (max-width: 599px) {
    html {
      font-size: 58.86%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

.container {
  position: absolute;
  width: 100%; }
  @media (min-width: 601px) and (max-width: 900px) {
    .container {
      width: 100vw; } }
  @media (min-width: 100px) and (max-width: 599px) {
    .container {
      width: 100%; } }

/* VARIABLES */
/* LANDING_SECTIONS */
.govt-name-space {
  display: inline-block;
  width: 45%; }

.controls {
  width: 40%;
  justify-content: space-evenly; }

.language-control {
  width: 20%;
  justify-content: flex-end; }

.lang-text {
  margin-right: 1.2rem; }

.font-controls {
  justify-content: space-evenly; }

.font-change-utility {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  font-size: inherit;
  padding: 0.2rem;
  outline: none; }
  .font-change-utility:not(:last-child) {
    margin-right: 0.2rem; }

.mini-header-1 {
  position: relative;
  justify-content: space-between;
  padding: 1rem 1.2rem; }

header {
  position: relative;
  background-image: url("../assets/hero_image_banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.heading-box {
  display: flex;
  flex-direction: row;
  position: absolute; }

.heading-container {
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem; }

.top_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc3201;
  font-size: 15px;
  color: white;
  font-weight: 700;
  position: relative;
  padding: 0 15px; }

.top_actions > div > ul {
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  position: relative;
  margin: 0; }

.top_actions > div > ul > li {
  list-style: none;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 6px solid white; }

.top_actions_items {
  position: relative; }

.page_header {
  background-color: #dc3b08;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem; }
  .page_header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 0.5rem; }
  .page_header-heading-text {
    border-bottom: 2px solid white;
    padding: 0; }

.main_name {
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 4px 2px 5px 0px #000000 32%; }

/* Hero Banner */
.banner {
  position: relative;
  width: 100%;
  background-image: url("/assets/images/Landing_Page_Images/hero_image_banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner .banner-wrapper {
    display: flex;
    flex-direction: row; }
  .banner .banner-lg {
    padding-top: 5rem;
    width: 50%; }
  .banner .banner-text {
    position: relative;
    width: 50%;
    padding-top: 5rem; }
    .banner .banner-text-heading {
      width: 90%;
      text-align: center;
      background: rgba(255, 255, 255, 0.65);
      padding: 1.5rem 0; }

.main-heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem; }

.sub-heading {
  font-size: 1.5rem;
  font-weight: 700; }

/* IN BRIEF */
.in_brief {
  background-color: #dc3b08;
  display: flex;
  align-items: center;
  padding: 06px 0px;
  padding-left: 25px;
  color: white; }

.in_brief_text {
  color: white;
  font-size: 20px;
  font-weight: 700;
  min-width: 120px; }

.in_brief_marquee,
.in_brief_marquee > div {
  display: inline; }

.in_brief_marquee > div {
  margin-right: 25px;
  display: inline-flex;
  align-items: center; }

.marquee_emblem {
  height: 32px;
  margin-right: 15px; }

nav {
  position: relative;
  width: 100%;
  background-color: #cd4317;
  padding: 1.8rem 0; }

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 80%;
  margin: 0 auto; }

.card {
  background-color: #cd4317;
  border: 2px solid #fab904;
  position: relative;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 7px 18px rgba(0, 0, 0, 0.48);
  align-items: center;
  transition: transform 0.3s; }
  .card:hover {
    transform: translateY(-4px); }
  .card-icon {
    margin-bottom: 0.5rem; }
  .card-text {
    position: absolute;
    bottom: 3%;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: white; }

.icon-size {
  width: 5rem; }

.lg-about-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-bottom: 5.5rem; }

.latest-tweet {
  position: relative;
  left: 0;
  top: 1rem;
  width: 42%;
  margin-bottom: 2.5rem; }
  @media (min-width: 100px) and (max-width: 599px) {
    .latest-tweet {
      width: 100%; } }
  .latest-tweet-heading {
    background: #186a20;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0; }

.about-lg {
  position: relative;
  width: 52%;
  padding: 1.5rem;
  background: #f3eaea;
  text-align: center; }
  @media (min-width: 100px) and (max-width: 599px) {
    .about-lg {
      width: 93%; } }
  .about-lg-img-container {
    margin-bottom: 1.5rem; }
  .about-lg-text span {
    color: black;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    font-weight: 800; }
  .about-lg-text p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 5rem; }

.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white; }
  .read-more-btn {
    background-color: #fab904;
    font-size: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none; }
    .read-more-btn a {
      text-decoration: none;
      color: black;
      font-size: 1.3rem;
      font-weight: 700; }

.heading-primary {
  width: fit-content;
  margin: auto auto;
  display: flex;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.33);
  padding: 1rem 2.2rem;
  margin-bottom: 5.5rem;
  box-sizing: border-box; }
  .heading-primary-icon {
    margin: auto;
    font-size: 4rem; }
    @media (min-width: 601px) and (max-width: 900px) {
      .heading-primary-icon {
        font-size: 3rem; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .heading-primary-icon {
        width: 2.5rem; } }
  .heading-primary-text {
    margin-left: 1.3rem;
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21); }
    @media (min-width: 601px) and (max-width: 900px) {
      .heading-primary-text {
        font-size: 1.5rem; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .heading-primary-text {
        margin-left: 1rem;
        font-size: 1.5rem; } }

.heading-secondary-text {
  margin: auto;
  margin-left: 1.2rem;
  padding: 0 0.2rem;
  display: inline-block;
  white-space: nowrap;
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21); }
  @media (min-width: 100px) and (max-width: 599px) {
    .heading-secondary-text {
      font-size: 1.8rem; } }

.icon-heading {
  width: 5rem; }
  @media (min-width: 601px) and (max-width: 900px) {
    .icon-heading {
      width: 4rem; } }
  @media (min-width: 100px) and (max-width: 599px) {
    .icon-heading {
      width: 3rem; } }

.flex-calc-1 {
  display: flex;
  flex-direction: row;
  flex-flow: wrap; }

.scroll {
  width: 30rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 601px) and (max-width: 900px) {
    .scroll {
      width: 28rem; } }
  @media (min-width: 100px) and (max-width: 599px) {
    .scroll {
      width: 22rem; } }

.scroll-img {
  width: 4rem; }
  @media (min-width: 100px) and (max-width: 599px) {
    .scroll-img {
      width: 3.5rem; } }

.scroll-text {
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold; }
  @media (min-width: 100px) and (max-width: 599px) {
    .scroll-text {
      font-size: 1.1rem; } }

.scroll-wrapper {
  text-align: center; }

.filter-section-month select {
  font-family: inherit;
  color: black;
  padding: 0.5rem;
  height: 2.5rem;
  border: 1px solid #ffdfb7;
  font-weight: 700;
  font-size: 1.2rem;
  -webkit-appearence: button;
  outline: none;
  width: 60%;
  margin: 0.6rem 0;
  border-radius: 2px;
  letter-spacing: 2px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25); }

.new-updates {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5rem; }

.news-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem; }

.news-card {
  width: 31%;
  margin-bottom: 2.5rem; }
  @media (min-width: 601px) and (max-width: 900px) {
    .news-card {
      width: 62%; } }
  @media (min-width: 100px) and (max-width: 599px) {
    .news-card {
      width: 93%; } }
  .news-card-date {
    display: inline;
    background: #fab904;
    color: white;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem; }
  .news-card-img {
    width: 100%; }
  .news-card-headline {
    padding: 1rem 1.2rem;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: whitesmoke; }

.mulaqaat {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
  margin-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mulaqaat-chinar-img {
    position: absolute;
    width: 9rem;
    top: 0%;
    left: 15%; }
    @media (min-width: 100px) and (max-width: 599px) {
      .mulaqaat-chinar-img {
        left: 0%;
        width: 7rem; } }
  .mulaqaat-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap; }
  .mulaqaat-card {
    margin-bottom: 1rem;
    width: 46%;
    padding: 1rem 1.2rem; }
    @media (min-width: 601px) and (max-width: 900px) {
      .mulaqaat-card {
        width: 95%; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .mulaqaat-card {
        width: 93%; } }
    .mulaqaat-card-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: #fab904;
      color: white; }
    .mulaqaat-card-img {
      margin-bottom: 1rem; }
    .mulaqaat-card-heading {
      color: red;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .mulaqaat-card-text {
      letter-spacing: 1px;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1.2rem; }

.gallery {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem; }
  .gallery-img-container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto; }
    @media (min-width: 601px) and (max-width: 900px) {
      .gallery-img-container {
        width: 90%; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .gallery-img-container {
        width: 90%; } }
  .gallery-text {
    position: relative;
    padding: 1rem 1.2rem;
    width: 85%;
    margin: 0 auto;
    box-shadow: 5px 8px 17px rgba(0, 0, 0, 0.51);
    border-radius: 5px; }
    @media (min-width: 601px) and (max-width: 900px) {
      .gallery-text {
        width: 90%; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .gallery-text {
        width: 90%; } }
    .gallery-text-date {
      position: absolute;
      top: 0;
      left: 0;
      background: #dc3b08;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      border: 1px solid black; }
    .gallery-text-para {
      margin-top: 2.2rem;
      font-size: 1.2rem;
      font-weight: 700; }
      @media (min-width: 601px) and (max-width: 900px) {
        .gallery-text-para {
          font-size: 1rem; } }
      @media (min-width: 100px) and (max-width: 599px) {
        .gallery-text-para {
          font-size: 1rem; } }
  .gallery-arrow-left {
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 601px) and (max-width: 900px) {
      .gallery-arrow-left {
        left: 2%; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .gallery-arrow-left {
        left: 3%; } }
    .gallery-arrow-left span {
      text-transform: uppercase;
      font-weight: 600;
      color: #827979;
      font-size: 1.5rem; }
      @media (min-width: 601px) and (max-width: 900px) {
        .gallery-arrow-left span {
          font-size: 1rem; } }
      @media (min-width: 100px) and (max-width: 599px) {
        .gallery-arrow-left span {
          font-size: 1rem; } }
  .gallery-arrow-right {
    position: absolute;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 601px) and (max-width: 900px) {
      .gallery-arrow-right {
        right: 2%; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .gallery-arrow-right {
        right: 3%; } }
    .gallery-arrow-right span {
      text-transform: uppercase;
      font-weight: 600;
      color: #4a4747;
      font-size: 1.5rem; }
      @media (min-width: 601px) and (max-width: 900px) {
        .gallery-arrow-right span {
          font-size: 1rem; } }
      @media (min-width: 100px) and (max-width: 599px) {
        .gallery-arrow-right span {
          font-size: 1rem; } }
  .gallery .arrow-card-img {
    width: 5.2rem; }
    @media (min-width: 601px) and (max-width: 900px) {
      .gallery .arrow-card-img {
        width: 3.2rem; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .gallery .arrow-card-img {
        width: 3rem; } }

footer {
  background-color: #2e2929;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 3rem 2rem;
  font-size: 1rem;
  font-weight: 700; }

footer a {
  text-decoration: none;
  color: white; }

footer a:visited {
  color: whitesmoke; }

footer li {
  list-style: none;
  color: white; }

.cdac {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.cdac-top-written {
  width: 40%;
  padding: 1.2rem; }

.footer-text {
  word-spacing: 0.2rem; }

.footer-quick-links {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-img {
  justify-content: space-between; }

.border-right {
  border-right: 1px solid white; }

.building-img-container {
  position: absolute;
  bottom: 0;
  right: 0; }

/* PAGES */
.write-section-header {
  background: #343131;
  padding: 1rem 2rem;
  color: white;
  font-family: "Righteous", sans-serif;
  font-size: 1.5rem; }
  .write-section-header h1 {
    margin: 1.2rem 0;
    position: relative;
    top: 10%; }
  .write-section-header-img {
    width: 6rem; }

.write-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.writing-section {
  position: relative;
  font-family: "Righteous", sans-serif;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  width: 100%; }
  .writing-section-left {
    position: relative;
    width: 30%;
    text-align: center; }
    .writing-section-left-lg {
      position: relative;
      background: #363232;
      padding: 1rem 1.2rem; }
  .writing-section-right {
    font-family: "Lato", sans-serif;
    width: 65%;
    font-weight: bolder; }
    .writing-section-right-lg {
      justify-content: space-between;
      width: 90%;
      margin: 0 auto; }

.input-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 7px 7px 10px 6px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.2rem; }
  .input-wrapper-flex {
    padding: 0.5rem 0.2rem;
    width: 48%;
    margin-bottom: 1rem;
    box-shadow: 7px 7px 10px 6px rgba(0, 0, 0, 0.25); }

.input-write-lg {
  display: inline-block;
  font-family: inherit;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom: 1px solid black;
  background-color: transparent; }
  .input-write-lg::-webkit-input-placeholder {
    font-weight: inherit;
    color: #645757;
    font-size: 1rem; }

.writing-left-img-cont {
  width: 100%;
  position: relative; }

.lut-img {
  width: 80%; }

.name {
  font-size: 1.5rem;
  color: #d3cccc;
  font-weight: 700; }

.desig {
  font-size: 1.4rem;
  color: #ffbc00; }

.UT {
  font-size: 1.4rem;
  font-weight: normal;
  color: #a8a1a1; }

textarea {
  resize: none; }

.center {
  text-align: center; }

.btn-black {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #2b2424;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  letter-spacing: 2px;
  font-weight: 700; }

.justify-content {
  justify-content: space-between; }

.upload-attachments {
  margin: auto 0; }
  .upload-attachments-wrapper {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem; }

.container-lg-mul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  box-sizing: border-box; }
  @media (min-width: 100px) and (max-width: 599px) {
    .container-lg-mul {
      width: 95%; } }

.heading-tertiary {
  display: inline-block;
  padding: 1.2rem 5rem;
  font-size: 2.1rem;
  box-shadow: 0px 4px 26px 9px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  border-radius: 3px;
  margin: 3.5rem 0; }

.lg-mul-img {
  width: 100%; }

.lg-mul-content-wrapper {
  width: 70%; }
  @media (min-width: 100px) and (max-width: 599px) {
    .lg-mul-content-wrapper {
      width: 95%; } }

.lg-mul-img-cont {
  position: relative; }

.date-cont-lg {
  position: absolute;
  top: 2%;
  right: 6%;
  font-weight: bold;
  background-color: #fab904;
  padding: 0.8rem 1rem; }

.wrapper-lg-mul {
  text-align: left; }

.lg-mul-heading {
  display: inline-block;
  border-bottom: 2px solid red;
  font-size: 1.8rem;
  font-weight: 700;
  color: red;
  margin-bottom: 3rem; }

.lg-mul-para {
  display: inline-block;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: justify; }

.chinar-lg-mul-img {
  width: 10rem; }

.gallery-page {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 98vw;
  height: 96vh;
  padding: 1rem 1.2rem; }
  .gallery-page-img-top-container {
    width: 100%;
    text-align: center; }
  .gallery-page-img-bottom-container {
    width: 100%;
    text-align: center; }
  .gallery-page-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap;
    margin: 0 auto; }

.speeches-container {
  position: relative;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 601px) and (max-width: 900px) {
    .speeches-container {
      padding: 1.3rem 1.8rem; } }
  @media (min-width: 100px) and (max-width: 599px) {
    .speeches-container {
      padding: 1.1rem 1.5rem; } }

.speech-heading-wrapper {
  padding: 2rem 0;
  margin-bottom: 5rem; }
  @media (min-width: 100px) and (max-width: 599px) {
    .speech-heading-wrapper {
      padding: 1.6rem 0; } }

.speeches-video-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  margin-bottom: 1.5rem; }

.speeches-video-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 41%;
  padding: 1rem 1.5rem;
  margin: 1.2rem 0;
  box-shadow: 5px 4px 24px 13px rgba(0, 0, 0, 0.3);
  border: 1px solid 000000, 100%; }
  @media (min-width: 601px) and (max-width: 900px) {
    .speeches-video-card {
      padding: 1.3rem 1.8rem; } }
  @media (min-width: 100px) and (max-width: 599px) {
    .speeches-video-card {
      width: 95%; } }
  .speeches-video-card-date {
    padding: 1rem 1rem;
    position: absolute;
    top: 0;
    left: -1;
    background-color: #fab904;
    font-weight: 700; }
    @media (min-width: 100px) and (max-width: 599px) {
      .speeches-video-card-date {
        font-size: 1rem;
        padding: 0.5remss; } }
  .speeches-video-card-heading {
    display: inline-block;
    margin: 5rem 0 1.5rem 0;
    font-size: 2rem;
    font-weight: 700; }
    @media (min-width: 601px) and (max-width: 900px) {
      .speeches-video-card-heading {
        margin: 3.2rem 0 1.3rem 0; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .speeches-video-card-heading {
        font-size: 1.7rem;
        margin: 2.8rem 0 1.1rem 0; } }
  .speeches-video-card-icons {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto; }
    @media (min-width: 901px) and (max-width: 1200px) {
      .speeches-video-card-icons {
        width: 70%; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .speeches-video-card-icons {
        font-size: 75%; } }
    @media (min-width: 100px) and (max-width: 599px) {
      .speeches-video-card-icons {
        width: 80%; } }
  .speeches-video-card-para {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 192.4%;
    margin-bottom: 5rem; }
    @media (min-width: 100px) and (max-width: 599px) {
      .speeches-video-card-para {
        line-height: 1.7;
        margin-bottom: 3rem; } }

.top-speeches {
  position: relative; }

.img-cont-speeches-top {
  position: absolute;
  right: 5%;
  top: 0%;
  text-align: center; }
  @media (min-width: 100px) and (max-width: 599px) {
    .img-cont-speeches-top {
      opacity: 0.4;
      right: 20%; } }

.speech-nav-wrapper {
  background: #cd4317;
  padding: 1rem 1.2rem; }
  .speech-nav-wrapper li {
    background-color: #fab904;
    list-style: none;
    color: orange; }

.speech-img {
  width: 19rem; }

.chinar-img {
  width: 20rem; }

.news-card-img-1 {
  width: 80%; }
  @media (min-width: 100px) and (max-width: 599px) {
    .news-card-img-1 {
      width: 95%; } }

.icon-img {
  cursor: pointer; }
  @media (min-width: 601px) and (max-width: 900px) {
    .icon-img {
      width: 3rem; } }
  @media (min-width: 100px) and (max-width: 599px) {
    .icon-img {
      width: 2.5rem; } }

.navigation-pages-container {
  background-color: #31bad8;
  padding: 1rem 1.2rem; }

.navigation-pages-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  font-size: 1.3rem;
  color: white; }
  @media (min-width: 100px) and (max-width: 599px) {
    .navigation-pages-list {
      width: 100%; } }

.navigation-pages-list-item {
  margin-right: 1.2rem;
  padding: 0.5rem 1.2rem;
  border: 1px solid black;
  cursor: pointer; }
  @media (min-width: 100px) and (max-width: 599px) {
    .navigation-pages-list-item {
      margin-right: 1rem;
      margin-bottom: 1.2rem; } }
  .navigation-pages-list-item a:link,
  .navigation-pages-list-item a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.2s; }

.new-updates {
  position: relative;
  width: 100%;
  padding-top: 2rem; }

.heading-updates {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin-bottom: 2.5rem; }
  .heading-updates-text {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px; }
  .heading-updates-search-overlay {
    position: relative;
    width: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); }
  .heading-updates-search-input {
    font-size: 1.2rem;
    outline: none;
    padding: 1rem 1.2rem;
    border: none;
    width: 100%;
    letter-spacing: 2px; }
    .heading-updates-search-input::-webkit-input-placeholder {
      color: #8f8080;
      letter-spacing: 2px; }

.search-icon {
  position: absolute;
  top: 2%;
  right: 0%;
  height: 3.6rem;
  width: 3.6rem;
  outline: none;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25); }

.body-updates {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.filter-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem; }
  .filter-section-filter {
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 1.5rem; }
  .filter-section-text {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem; }
  .filter-section-month {
    margin-bottom: 1.2rem;
    width: 100%; }
  .filter-section-preferences {
    margin-bottom: 1.2rem; }
  .filter-section-tag {
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19); }
    .filter-section-tag-hashtags {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 3rem; }
    .filter-section-tag-img {
      position: relative;
      bottom: 0;
      width: 100%; }
    .filter-section-tag-hashtag {
      color: black;
      margin-bottom: 1rem;
      width: 40%;
      padding: 0.5rem 0.8rem;
      border: 1px solid #cdb2b2;
      box-sizing: border-box;
      box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.25);
      border-radius: 23px;
      font-size: 1rem;
      list-style: none;
      margin-bottom: 0.5rem; }

.update-result {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .update-result-card {
    margin-bottom: 1rem;
    width: 90%;
    padding: 1rem 1.2rem; }
    .update-result-card-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: #fab904;
      color: white; }
    .update-result-card-img {
      margin-bottom: 1rem; }
  .update-result-heading {
    color: red;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem; }
  .update-result-text {
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: justify; }

.form_input-text {
  font-weight: 700;
  margin-bottom: 0.8rem; }

.filter-section-month label {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-left: -5rem; }

.btn-filter {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  letter-spacing: 2px;
  font-weight: 700;
  background: #407a46;
  box-shadow: 7px 10px 14px rgba(0, 0, 0, 0.26);
  border-radius: 1px; }

.filter-btn {
  margin-top: 2rem; }

.form_input label {
  margin-left: 0.8rem;
  font-weight: 700; }

.new-updates-svg {
  color: white;
  height: 2rem;
  width: 2rem; }

.read-more:link {
  color: #000000; }
