/* RESPONSIVE-LIB. */
/**
*
* Testing
*
**/
/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

@media (min-width: 1366px) and (max-width: 1920px) {
  html {
    font-size: 88.5%; } }

@media (min-width: 769px) and (max-width: 1366px) {
  html {
    font-size: 88.5%; } }

@media (min-width: 1921px) {
  html {
    font-size: 156.5%; } }

.container {
  position: relative;
  max-width: 100vw; }

/* VARIABLES */
/* LANDING_SECTIONS */
.govt-name-space {
  display: inline-block;
  width: 45%; }

.controls {
  width: 40%;
  justify-content: space-evenly; }

.language-control {
  width: 20%;
  justify-content: flex-end; }

.lang-text {
  margin-right: 1.2rem; }

.font-controls {
  justify-content: space-evenly; }

.font-change-utility {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  font-size: inherit;
  padding: 0.2rem;
  outline: none; }
  .font-change-utility:not(:last-child) {
    margin-right: 0.2rem; }

.mini-header-1 {
  position: relative;
  justify-content: space-between;
  padding: 1rem 1.2rem; }

header {
  position: relative;
  background-image: url("../assets/hero_image_banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.heading-box {
  display: flex;
  flex-direction: row;
  position: absolute; }

.heading-container {
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem; }

.top_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc3201;
  font-size: 15px;
  color: white;
  font-weight: 700;
  position: relative;
  padding: 0 15px; }

.top_actions > div > ul {
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  position: relative;
  margin: 0; }

.top_actions > div > ul > li {
  list-style: none;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 6px solid white; }

.top_actions_items {
  position: relative; }

.page_header {
  background-color: #dc3b08;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem; }
  .page_header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 0.5rem; }
  .page_header-heading-text {
    border-bottom: 2px solid white;
    padding: 0; }

.main_name {
  letter-spacing: 2px; }

/* Hero Banner */
.banner {
  position: relative;
  width: 100%;
  background-image: url("/assets/images/Landing_Page_Images/hero_image_banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner .banner-wrapper {
    display: flex;
    flex-direction: row; }
  .banner .banner-lg {
    padding-top: 5rem;
    width: 50%; }
  .banner .banner-text {
    position: relative;
    width: 50%;
    padding-top: 5rem; }
    .banner .banner-text-heading {
      width: 90%;
      text-align: center;
      background: rgba(255, 255, 255, 0.65);
      padding: 1.5rem 0; }
    .banner .banner-text:after {
      content: "know more";
      background-color: #cd4317;
      text-transform: uppercase; }

.main-heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem; }

.sub-heading {
  font-size: 1.5rem;
  font-weight: 700; }

/* IN BRIEF */
.in_brief {
  background-color: #dc3b08;
  display: flex;
  align-items: center;
  padding: 06px 0px;
  padding-left: 25px;
  color: white; }

.in_brief_text {
  color: white;
  font-size: 20px;
  font-weight: 700;
  min-width: 120px; }

.in_brief_marquee,
.in_brief_marquee > div {
  display: inline; }

.in_brief_marquee > div {
  margin-right: 25px;
  display: inline-flex;
  align-items: center; }

.marquee_emblem {
  height: 32px;
  margin-right: 15px; }

nav {
  position: relative;
  width: 100%;
  background-color: #cd4317;
  padding: 1.8rem 0; }

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 80%;
  margin: 0 auto; }

.card {
  background-color: #cd4317;
  position: relative;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 7px 18px rgba(0, 0, 0, 0.48);
  align-items: center;
  transition: transform 0.3s; }
  .card:hover {
    transform: translateY(-4px); }
  .card-icon {
    margin-bottom: 0.5rem; }
  .card-text {
    position: absolute;
    bottom: 3%;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: white; }

.icon-size {
  width: 5rem; }

.lg-about-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5.5rem; }

.latest-tweet {
  position: relative;
  left: 0;
  top: 1rem;
  width: 45%; }
  .latest-tweet-heading {
    background: #186a20;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0; }

.about-lg {
  position: relative;
  width: 55%;
  padding: 1.5rem;
  background: #f3eaea;
  text-align: center; }
  .about-lg-img-container {
    margin-bottom: 1.5rem; }
  .about-lg-text h3 {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem; }
  .about-lg-text p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 3.2rem; }

.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white; }
  .read-more-btn {
    background-color: #fab904;
    font-size: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none; }
    .read-more-btn a {
      text-decoration: none;
      color: black;
      font-size: 1.3rem;
      font-weight: 700; }

.heading-primary {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 20%;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.33);
  padding: 1rem 1.8rem;
  margin-bottom: 5.5rem;
  box-sizing: border-box; }
  .heading-primary-icon {
    width: 24%; }
  .heading-primary-text {
    display: inline;
    white-space: nowrap;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21);
    width: 65%; }

.heading-secondary-text {
  margin: auto;
  padding: 0 0.2rem;
  display: inline-block;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21); }

.flex-calc-1 {
  display: flex;
  flex-direction: row;
  flex-flow: wrap; }

.new-updates {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5rem; }

.news-cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem; }

.news-card {
  width: 31%; }
  .news-card-date {
    display: inline;
    background: #fab904;
    color: white;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem; }
  .news-card-img {
    width: 100%; }
  .news-card-headline {
    padding: 1rem 1.2rem;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: whitesmoke; }

.mulaqaat {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
  margin-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mulaqaat-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap; }
  .mulaqaat-card {
    margin-bottom: 1rem;
    width: 46%;
    padding: 1rem 1.2rem; }
    .mulaqaat-card-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: #fab904;
      color: white; }
    .mulaqaat-card-img {
      margin-bottom: 1rem; }
    .mulaqaat-card-heading {
      color: red;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .mulaqaat-card-text {
      letter-spacing: 1px;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1.2rem; }

.gallery {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem; }
  .gallery-img-container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto; }
  .gallery-text {
    position: relative;
    padding: 1rem 1.2rem;
    width: 90%;
    box-shadow: 5px 8px 17px rgba(0, 0, 0, 0.51); }
    .gallery-text-date {
      position: absolute;
      top: 0;
      left: 0; }
    .gallery-text-para {
      margin: 1rem;
      font-size: 0.8rem;
      font-weight: 700; }

footer {
  background-color: #2e2929;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1.2rem;
  line-height: 35.7px; }

footer a {
  text-decoration: none;
  color: white; }

footer a:visited {
  color: whitesmoke; }

footer li {
  list-style: none;
  color: white; }

.cdac {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.cdac-top-written {
  width: 40%;
  padding: 1.2rem; }

.footer-text {
  word-spacing: 0.2rem; }

.footer-quick-links {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-img {
  justify-content: space-between; }

.border-right {
  border-right: 1px solid white; }

.building-img-container {
  position: absolute;
  bottom: 0;
  right: 0; }

/* PAGES */
.gallery-page {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 98vw;
  height: 96vh;
  padding: 1rem 1.2rem; }
  .gallery-page-img-top-container {
    width: 100%;
    text-align: center; }
  .gallery-page-img-bottom-container {
    width: 100%;
    text-align: center; }
  .gallery-page-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap;
    margin: 0 auto; }

.speeches-container {
  position: relative;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.speech-heading-wrapper {
  padding: 2rem 0;
  margin-bottom: 5rem; }

.speeches-video-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  margin-bottom: 1.5rem; }

.speeches-video-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46%;
  padding: 1rem 1.5rem;
  margin: 1.2rem 0;
  box-shadow: 5px 4px 24px 13px rgba(0, 0, 0, 0.3);
  border: 1px solid 000000, 100%; }
  .speeches-video-card-date {
    padding: 1rem 1rem;
    position: absolute;
    top: 0;
    left: -1;
    background-color: #fab904; }
  .speeches-video-card-heading {
    display: inline-block;
    margin: 5rem 0;
    font-size: 2.5rem;
    font-weight: 700; }
  .speeches-video-card-icons {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto; }
  .speeches-video-card-para {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 192.4%;
    margin-bottom: 3.2rem; }

.top-speeches {
  position: relative; }

.img-cont-speeches-top {
  position: absolute;
  right: 15%;
  top: 0%; }

.speech-nav-wrapper {
  background: #cd4317;
  padding: 1rem 1.2rem; }
  .speech-nav-wrapper li {
    background-color: #fab904;
    list-style: none;
    color: orange; }

.speech-img {
  width: 19rem; }

.chinar-img {
  width: 20rem; }

.news-card-img-1 {
  width: 80%; }

.navigation-pages-container {
  background-color: #31bad8;
  padding: 1rem 1.2rem; }

.navigation-pages-list {
  width: 40%;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  color: white; }

.navigation-pages-list-item {
  margin-right: 1.2rem;
  padding: 0.5rem 1.2rem;
  border: 1px solid black;
  cursor: pointer; }
  .navigation-pages-list-item a:link,
  .navigation-pages-list-item a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.2s; }
  .navigation-pages-list-item a:hover {
    transform: translateY(-2px); }

.new-updates {
  position: relative;
  width: 100%;
  padding-top: 2rem; }

.heading-updates {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin-bottom: 2.5rem; }
  .heading-updates-text {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px; }
  .heading-updates-search-overlay {
    position: relative;
    width: 25%; }
  .heading-updates-search-input {
    font-size: 1.5rem;
    outline: none;
    padding: 1rem 1.2rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    letter-spacing: 2px; }
    .heading-updates-search-input::-webkit-input-placeholder {
      color: #8f8080;
      letter-spacing: 2px; }

.search-icon {
  position: absolute;
  top: 2%;
  right: 0%;
  height: 3.6rem;
  width: 3.5rem;
  outline: none;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25); }

.body-updates {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.filter-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem; }
  .filter-section-filter {
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 1.5rem; }
  .filter-section-text {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem; }
  .filter-section-month {
    margin-bottom: 1.2rem; }
  .filter-section-preferences {
    margin-bottom: 1.2rem; }
  .filter-section-tag {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19); }
    .filter-section-tag-hashtags {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between;
      width: 100%; }
    .filter-section-tag-hashtag {
      color: black;
      margin-bottom: 1rem;
      width: 40%;
      padding: 0.5rem 0.8rem;
      border: 1px solid #cdb2b2;
      box-sizing: border-box;
      box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.25);
      border-radius: 23px;
      font-size: 1rem; }

.update-result {
  width: 55%; }
  .update-result-card {
    margin-bottom: 1rem;
    width: 90%;
    padding: 1rem 1.2rem; }
    .update-result-card-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: #fab904;
      color: white; }
    .update-result-card-img {
      margin-bottom: 1rem; }
  .update-result-heading {
    color: red;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem; }
  .update-result-text {
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 700; }

.read-more:link {
  color: #000000; }
