@import "breakpoint";
$color-footer: #2e2929;
$color-green-1: #31bad8;
$color-green-2: #38c9e9;
$color-orange-light: #dc3b08;
$color-orange-dark: #cd4317;
$color-pink: #f3eaea;
$read-load: #fab904;

* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
}
html {
  @include media(">=desktop", "<LGdesktop") {
    font-size: 80.5%;
  }
  @include media(">tablet", "<=desktop") {
    font-size: 55%;
  }
  @include media(">LGdesktop") {
    font-size: 80.5%;
  }
}
.container {
  position: relative;
  max-width: 100vw;
}
.mini-header {
  position: relative;

  justify-content: space-between;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  background-color: $color-orange-dark;
  &-overlay {
    justify-content: space-between;
    width: 80%;
  }
}

.govt-name-space {
  display: inline-block;
  width: 45%;
}
.controls {
  width: 40%;
  justify-content: space-evenly;
}
.language-control {
  width: 20%;
  justify-content: flex-end;
}
.lang-text {
  margin-right: 1.2rem;
}
.font-controls {
  justify-content: space-evenly;
}

.font-change-utility {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  font-size: inherit;
  padding: 0.2rem;
  outline: none;
  &:not(:last-child) {
    margin-right: 0.2rem;
  }
}

.mini-header-1 {
  position: relative;

  justify-content: space-between;
  padding: 1rem 1.2rem;
}

header {
  position: relative;
  background-image: url("../assets/hero_image_banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heading-box {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.heading-container {
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem;
}

// FOOTER STYLING
footer {
  //   position: relative;
  //   width: 100%;
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1.2rem;
  line-height: 35.7px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:visited {
  color: whitesmoke;
}
footer li {
  list-style: none;
  color: white;
}
.cdac {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cdac-top-written {
  width: 40%;
  padding: 1.2rem;
}
.footer-text {
  word-spacing: 0.2rem;
}
.footer-quick-links {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-img {
  justify-content: space-between;
}

.border-right {
  border-right: 1px solid white;
}

.building-img-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

// navigation section
nav {
  position: relative;
  width: 100%;
  background-color: $color-orange-dark;
  padding: 1.8rem 0;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 80%;
  margin: 0 auto;
}
.card {
  background-color: $color-orange-dark;
  position: relative;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 7px 18px rgba($color: #000000, $alpha: 0.48);
  align-items: center;
  transition: transform 0.3s;
  // word-wrap: break-word;
  &:hover {
    transform: translateY(-4px);
  }
  &-icon {
    margin-bottom: 0.5rem;
  }
  &-text {
    position: absolute;
    bottom: 3%;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
  }
}
.icon-size {
  width: 5rem;
}

// about-lg
.lg-about-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5.5rem;
}
.latest-tweet {
  position: relative;
  left: 0;
  top: 1rem;
  width: 45%;
  &-heading {
    background: #186a20;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0;
  }
}

.about-lg {
  position: relative;
  width: 55%;
  padding: 1.5rem;
  background: $color-pink;
  text-align: center;
  &-img-container {
    margin-bottom: 1.5rem;
  }
  &-text h3 {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  &-text p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 3.2rem;
  }
}
.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $read-load;

  &-btn {
    background: $color-orange-dark;
    color: white;
    font-size: 0.8rem;
    padding: 1.2rem 1.4rem;
    cursor: pointer;
    outline: none;
    border: none;
    & a {
      text-decoration: none;
      color: black;
      font-size: 1.3rem;
      font-weight: 800;
    }
  }
}
// new updates section

// utilities
.flex-calc-1 {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.new-updates {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5rem;
}

.heading-primary {
  display: flex;
  box-shadow: 4px 4px 16px rgba($color: #000000, $alpha: 0.33);
  padding: 1rem 1.2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  &-icon {
    margin: auto;
    width: 25%;
  }
  &-text {
    white-space: nowrap;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21);
    padding: 0 0.2rem;
  }
}
.heading-secondary-text {
  margin: auto;
  padding: 0 0.2rem;
  display: inline-block;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.21);
}
.news-cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.news-card {
  width: 31%;

  &-date {
    display: inline;
    background: $read-load;
    color: white;
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem;
  }
  &-img {
    // margin-bottom: 1rem;
    width: 100%;
  }
  &-headline {
    padding: 1rem 1.2rem;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: whitesmoke;
  }
}
.department {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-cards {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
  }
  &-img-container {
    margin-bottom: 1rem;
    width: 100%;
  }
  &-card {
    position: relative;
    padding: 1.5rem;
    box-shadow: 3px 4px 16px rgba($color: #000000, $alpha: 0.31);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    transition: transform 0.3s;
    &:hover {
      transform: translateY(-4px);
    }
  }
  &-arrow-left {
    position: absolute;
    top: 50%;
    left: 2%;
  }
  &-arrow-right {
    position: absolute;
    top: 50%;
    right: 2%;
  }
  .arrow-card-img {
    width: 8rem;
  }
}
// mulaqaat
.mulaqaat {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
  margin-bottom: 5.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  &-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
  }
  &-card {
    margin-bottom: 1rem;
    width: 46%;

    padding: 1rem 1.2rem;
    &-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: $read-load;
      color: white;
    }
    &-img {
      margin-bottom: 1rem;
    }
    &-heading {
      color: red;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    &-text {
      letter-spacing: 1px;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}

.gallery {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  &-img-container {
    position: relative;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  &-text {
    position: relative;
    padding: 1rem 1.2rem;
    width: 90%;
    box-shadow: 5px 8px 17px rgba($color: #000000, $alpha: 0.51);
    &-date {
      position: absolute;
      top: 0;
      left: 0;
    }
    &-para {
      margin: 1rem;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
}
// speeches
.speeches-container {
  position: relative;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speech-heading-wrapper {
  padding: 2rem 0;
  margin-bottom: 5rem;
}
.speeches-video-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  margin-bottom: 1.5rem;
}
.speeches-video-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46%;
  padding: 1rem 1.5rem;
  margin: 1.2rem 0;
  box-shadow: 5px 4px 24px 13px rgba(0, 0, 0, 0.3);
  border: 1px solid 000000, 100%;
  &-date {
    padding: 1rem 1rem;
    position: absolute;
    top: 0;
    left: -1;
    background-color: $read-load;
  }
  &-heading {
    display: inline-block;
    margin: 5rem 0;
    font-size: 2.5rem;
    font-weight: 700;
  }
  &-icons {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
  }

  &-para {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 192.4%;
    margin-bottom: 3.2rem;
  }
}
.top-speeches {
  position: relative;
}
.img-cont-speeches-top {
  position: absolute;
  right: 15%;
  top: 0%;
}
.speech-nav-wrapper {
  background: $color-orange-dark;
  padding: 1rem 1.2rem;
  & li {
    background-color: $read-load;
    list-style: none;
    color: orange;
  }
}

.speech-img {
  width: 19rem;
}
.deer-img {
}
.chinar-img {
  width: 20rem;
}
.news-card-img-1 {
  width: 80%;
}
.speech-nav-wrapper {
}
// gallery
.gallery-page {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 98vw;
  height: 96vh;
  padding: 1rem 1.2rem;
  &-img-top-container {
    width: 100%;
    text-align: center;
  }
  &-img-bottom-container {
    width: 100%;
    text-align: center;
  }
  &-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap;
    margin: 0 auto;
  }
}
.navigation-pages {
  &-container {
    background-color: $color-green-1;
    padding: 1rem 1.2rem;
  }

  &-list {
    width: 40%;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    color: white;
  }
  &-list-item {
    margin-right: 1.2rem;
    padding: 0.5rem 1.2rem;
    border: 1px solid black;
    cursor: pointer;
    & a:link,
    a:visited {
      display: inline-block;
      text-decoration: none;
      color: white;
      font-weight: bold;
      letter-spacing: 2px;
      transition: transform 0.2s;
    }
    & a:hover {
      transform: translateY(-2px);
    }
  }
}
.new-updates {
  position: relative;
  width: 100%;
  padding-top: 2rem;
}
.heading-updates {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin-bottom: 2.5rem;
  &-text {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  &-search-overlay {
    position: relative;
    width: 25%;
  }
  &-search-input {
    font-size: 1.5rem;
    outline: none;
    padding: 1rem 1.2rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    letter-spacing: 2px;
    &::-webkit-input-placeholder {
      color: #8f8080;
      letter-spacing: 2px;
    }
  }
}

// search btn
.search-icon {
  position: absolute;
  top: 2%;
  right: 0%;
  height: 3.6rem;
  width: 3.5rem;
  outline: none;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
}
.body-updates {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;

  &-filter {
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 1.5rem;
  }
  &-text {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  &-month {
    margin-bottom: 1.2rem;
  }
  &-preferences {
    margin-bottom: 1.2rem;
  }

  &-tag {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 9px 16px 2px rgba(0, 0, 0, 0.19);

    &-hashtags {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between;
      width: 100%;
    }
    &-hashtag {
      color: black;
      margin-bottom: 1rem;
      width: 40%;
      padding: 0.5rem 0.8rem;
      border: 1px solid #cdb2b2;
      box-sizing: border-box;
      box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.25);
      border-radius: 23px;
      font-size: 1rem;
    }
  }
}
.update-result {
  width: 55%;

  // &-read-more:link,

  &-card {
    margin-bottom: 1rem;
    width: 90%;

    padding: 1rem 1.2rem;
    &-date {
      display: inline;
      padding: 0.2rem 0.3rem;
      background-color: $read-load;
      color: white;
    }
    &-img {
      margin-bottom: 1rem;
    }
  }
  &-heading {
    color: red;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  &-text {
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}
.read-more:link {
  color: #000000;
}

// Mufti cut
body {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.top_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc3201;
  font-size: 15px;
  color: white;
  font-weight: 700;
  position: relative;
  padding: 0 15px;
}

.top_actions > div > ul {
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  position: relative;
  margin: 0;
}

.top_actions > div > ul > li {
  list-style: none;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 6px solid white;
}
.top_actions_items {
  position: relative;
}

.page_header {
  background-color: #dc3b08;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 0.5rem;
  }
  &-heading-text {
    border-bottom: 2px solid white;
    padding: 0;
  }
}

.main_name {
  letter-spacing: 2px;
}
/* Hero Banner */
.banner {
  position: relative;
  width: 100%;
  background-image: url("/assets/images/Landing_Page_Images/hero_image_banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .banner-wrapper {
    display: flex;
    flex-direction: row;
  }
  .banner-lg {
    padding-top: 5rem;
    width: 50%;
  }
  .banner-text {
    position: relative;
    width: 50%;
    padding-top: 5rem;
    &-heading {
      width: 90%;
      text-align: center;
      background: rgba(255, 255, 255, 0.65);
      padding: 1.5rem 0;
    }
    &:after {
      content: "know more";
      background-color: $color-orange-dark;
      text-transform: uppercase;
    }
  }
}
.main-heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.sub-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

/* IN BRIEF */

.in_brief {
  background-color: #dc3b08;
  display: flex;
  align-items: center;
  padding: 06px 0px;
  padding-left: 25px;
  color: white;
}

.in_brief_text {
  color: white;
  font-size: 20px;
  font-weight: 700;
  min-width: 120px;
}

.in_brief_marquee,
.in_brief_marquee > div {
  display: inline;
}

.in_brief_marquee > div {
  margin-right: 25px;
  display: inline-flex;
  align-items: center;
}

.marquee_emblem {
  height: 32px;
  margin-right: 15px;
}

/* NAVIGATION */

.main_navigation {
  background-color: #31bad8;
  height: 170px;
  box-shadow: inset 0px -5px 7px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.main_navigation_wrapper {
  width: 60%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

/* ICONS */

.icon_wrapper {
  background-color: #38c9e9;
  box-shadow: 4px 7px 18px rgba(0, 0, 0, 0.48);
  border-radius: 13px;
  width: 108px;
  height: 107px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.icon_img {
  height: 65px;
  width: 65px;
  margin-top: 15px;
}

.icon_placeholder {
  text-align: center;
  height: 80%;
}
.icon-img {
  width: 2.5rem;
}

/* TWEETS AND ABOUT */

.tweets_about {
  position: relative;
}
.tweets {
  background: pink;
  width: 50%;
  height: 100%;
}

.tweets_about_wrapper {
  width: 95%;
  height: 100%;
  position: relative;
  margin: auto auto;
  display: flex;
}
.tweets_about_wrapper > section {
  display: inline-block;
  width: 50%;
}

.tweets_header {
  background-color: #186a20;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweets_header_text {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

/* ABOUT LG SECTION */

.about_lg {
  background-color: #f3eaea;
  position: relative;
  padding: 0px 0px;
  padding-bottom: 100px;
}

.about_lg_img_wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/images/Landing_Page_Images/about_HLG.png");
  height: 450px;
  width: 90%;
  margin: auto auto;
  margin-top: 30px;
}

.about_lg_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 43px;
  display: flex;
  justify-content: center;

  color: #070707;
  margin-top: 30px;
}

.about_lg_info {
  margin-top: 30px;
}
.about_lg_info > p {
  font-size: 18px;
  line-height: 151.6%;
  /* or 27px */

  text-align: justify;
  width: 80%;
  color: #3f3838;
  margin: auto auto;
}

.about_section_read_more {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fab904;
  color: #000000;
  width: 100px;
  padding: 20px 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* LGS MULAQAAT */

.lg_mulaqaat_text {
  width: fit-content;
  padding: 10px 25px;
  box-shadow: 0px 4px 26px 9px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: auto auto;
}

.lg_mulaqaat_text > img {
  width: 62px;
  height: 62px;
  margin-top: 10px;
  margin-right: 15px;
}

.lg_mulaqaat_text > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lg_mulaqaat_section {
  margin-top: 100px;
}

.lg_chinar {
  position: relative;
  top: 100px;
  left: 150px;
  width: fit-content;
}

.lg_chinar > img {
  width: 150px;
  height: 150px;
}

.lg_mulaqaat_main {
  display: flex;
  width: 90%;
  margin: auto auto;
}

.lg_mulaqaat_main > section {
  margin-top: 40px;
  width: 50%;
  position: relative;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.lg_mulaqaat_date {
  background-color: #ffbc00;
  padding: 7px 20px;
  max-width: fit-content;
}

.lg_mulaqaat_image {
  width: 100%;
  background-image: url("/assets/images/Landing_Page_Images/LGs_Mulaqaat/Rectangle\ 116.svg");
  height: 423px;
  background-size: contain;
  background-repeat: no-repeat;
}

.lg_mulaqaat_heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 182%;
  /* or 56px */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  color: #e43e09;
}

.lg_mulaqaat_information {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 166%;
  /* or 33px */

  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.06em;

  color: #000000;
  width: 80%;
  margin: auto auto;
}

// lg mulaqaat page

.container-lg-mul {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.heading-tertiary {
  display: inline-block;
  padding: 1.2rem 1.5rem;
  font-size: 2.2rem;
  box-shadow: 0px 4px 26px 9px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  border-radius: 3px;
  margin-bottom: 2rem;
}
.lg-mul-img {
  width: 90%;
}
.lg-mul-img-cont {
  position: relative;
}
.date-cont-lg {
  position: absolute;
  top: 2%;
  right: 6%;
  font-weight: bold;
  background-color: $read-load;
  padding: 0.8rem 1rem;
}
.wrapper-lg-mul {
  text-align: left;
}
.lg-mul-heading {
  display: inline-block;
  border-bottom: 2px solid red;
  font-size: 1.8rem;
  font-weight: 700;
  color: red;
  margin-bottom: 1rem;
}
.lg-mul-para {
  display: inline-block;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 700;
  margin-bottom: 2rem;
}

// Reusable
.scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
}
.scroll {
  width: 30rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  &-img {
    width: 4rem;
  }
  &-text {
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
